*{
    margin:0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container_geral{
    align-items: center;
    justify-content: center;
    display: flex;
}
.formulario{
    padding: 10px;
    width:300px;
    border: 1px solid grey;
    text-align: center;
    margin-top: 80px;
}
h5{
    margin-bottom: 2px;
}
#name{
padding: 5px;
margin:5px 0 5px 0;
}
#Email{
    padding: 5px;
    margin:5px 0 5px 0;
}
#password{
    padding: 5px;
    margin:5px 0 5px 0;
}
#password_correct{
    padding: 5px;
    margin:5px 0 5px 0;
}
#login{
    padding: 5px;
    margin:5px 0 5px 0;
}
p a{
    color: lightskyblue;
    text-decoration: none;
}
button{
background-color:	#FFD700;
padding: 10px;
border:1px solid black;
margin:10px 0 10px 0;
}